<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Namen</title>
</head>
<body>
<div>
  <h2>Voeg een naam toe</h2>
  <br/><br/>
  <form action='/namen/add' method='POST'>
   <table>
     <tr><td>ID : </td><td><input type='text' name='id'></td></tr>
     <tr><td>Naam : </td><td><input type='text' name='naam'></td></tr>
     <tr><td>Achternaam : </td><td><input type='text' name='achternaam'></td></tr>
     <tr><td>Leeftijd : </td><td><input type='text' name='leeftijd' size=100></td></tr>
     <tr><td><button type='submit'>Voeg toe</button></td></tr>
   </table>
  </form>
</div>
</body>
</html>
