<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Namen</title>
</head>
<body>

  <h2>Search naam</h2>
  <br/><br/>
  <form action='/namen/search' method='POST'>
    <span><b>Naam : </b><input type='text' name='naam'></span>
    <span><button type='submit'>Search</button></span>
  </form>
</body>
</html>
